{% extends "mainbase.html" %}
{% block content %}

<div class="container my-container">
  <div class="row my-row">
    <div class="col-md-8 my-col">
      Row 1 Col 1 table here
      <table id="example" class="display responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
                <th>Extn.</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>Lael</td>
                <td>Greer</td>
                <td>Systems Administrator</td>
                <td>London</td>
                <td>21</td>
                <td>2009/02/27</td>
                <td>$103,500</td>
                <td>6733</td>
                <td>l.greer@datatables.net</td>
            </tr>
            <tr>
                <td>Jonas</td>
                <td>Alexander</td>
                <td>Developer</td>
                <td>San Francisco</td>
                <td>30</td>
                <td>2010/07/14</td>
                <td>$86,500</td>
                <td>8196</td>
                <td>j.alexander@datatables.net</td>
            </tr>
            <tr>
                <td>Shad</td>
                <td>Decker</td>
                <td>Regional Director</td>
                <td>Edinburgh</td>
                <td>51</td>
                <td>2008/11/13</td>
                <td>$183,000</td>
                <td>6373</td>
                <td>s.decker@datatables.net</td>
            </tr>
            <tr>
                <td>Michael</td>
                <td>Bruce</td>
                <td>Javascript Developer</td>
                <td>Singapore</td>
                <td>29</td>
                <td>2011/06/27</td>
                <td>$183,000</td>
                <td>5384</td>
                <td>m.bruce@datatables.net</td>
            </tr>
            
        </tbody>
    </table>
    </div>

    <div class="col-md-4 my-col">
      
      <div class="x_panel fixed_height_320">
        <div class="row x_title">RealTime Login</div>
        <div class="x_content">
        <form method="POST" action=""> 
          {% csrf_token %}
          {{form.as_p}}
        <input type='submit' value='Start Monitor' class='btn' />
        </form>
      </div>
      </div>
    </div>
  </div>

  <div class="row my-row">
    
    <div class="col-md-8 my-col">
      Row 2 Col1
    </div>
    
    <div class="col-md-4 my-col">
      
      <div class="x_panel fixed_height_320">
      <div class="row x_title"><h2><small>Initial Calulate</small></h2></div>
      <div class="clearfix"></div>
      <div class="x_content">
      <form action="" method="POST" accept-charset="utf-8">
        {%csrf_token%}
        {{initvalform.as_p}}
        <input type='submit' value='Start Calculate' class='btn' />
        
      </form>
      </div>
      </div>

    </div>
  </div>
  <div class="row my-row">
  </div>
</div>
{% endblock %}


