{% extends "mainbase.html" %}
{% block content %}

<div class="container my-container">
  <div class="row my-row">
    <div class="col-md-8 my-col">
      Row 1 Col 1 table here
    </div>

    <div class="col-md-4 my-col">
      
      <div class="x_panel fixed_height_320">
        <div class="row x_title">RealTime Login</div>
        <div class="x_content">
        <form method="POST" action=""> 
          {% csrf_token %}
          {{form.as_p}}
        <input type='submit' value='Start Monitor' class='btn' />
        </form>
      </div>
      </div>
    </div>
  </div>

  <div class="row my-row">
    
    <div class="col-md-8 my-col">
      Row 2 Col1
    </div>
    
    <div class="col-md-4 my-col">
      
      <div class="x_panel fixed_height_320">
      <div class="row x_title"><h2><small>Initial Calulate</small></h2></div>
      <div class="x_content">
      <form action="" method="POST" accept-charset="utf-8">
        POST
        get
      </form>
      </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}


